@use '../abstracts';
@use '../components';

.openbrush-logo {
    height: 2rem;
    margin: -1.6rem 1rem;

    &:hover {
        height: 2.2rem;
        border-bottom: 2px solid abstracts.$honeyGold;
    }
}

.artwork-grid-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    place-items: center center;
    padding: 1rem;

    @include abstracts.breakpoint(tablet) {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        padding: 1rem;
    }
}

.grid-card {
    display: grid;
    place-items: center center;
    position: relative;
}

.grid-card-img {
    width: 100%;
}

.grid-card-content {
    position: relative;
    width: 85%;
    border: 2px solid abstracts.$slateBlack;
    background: abstracts.$honeyGold;
    border-radius: abstracts.$borderRadiusSmall;

    &:hover {
        box-shadow: abstracts.$hoverShadow;
    }

    .grid-img-container {
        position: relative;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        border: none;
        border-radius: abstracts.$borderRadiusSmall;
    }
}

.grid-card-desc-container {
    position: relative;
    p {
        font-size: 0.9rem;
        font-family: abstracts.$bodyFont;
        padding: 5px;
    }

    h4 {
        font-family: abstracts.$headerFont;
        position: relative;
        bottom: 25px;
        float: right;
        margin: 0.5rem 8px;
    }
}

.loading {
    filter: blur(10px);
}

.loaded {
    filter: blur(0px);
    transition: filter 0.5s linear;
}
