@use '../abstracts';
@use '../components';



.canvas-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 2px solid blue;
    justify-content: center;
    @include abstracts.breakpoint(desktop) {
        width: 85%;
        max-width: 1440px;
    }

    .canvas-text {
        max-width: 100vw;
        height: 100vh;
        padding: 0 auto;
    
        h4 {
            font-size: 4rem;
        }
    }

    .scroll-scene {
        position: sticky;
        border: 1px solid red;
        top: 0;
    }
}

.climbing-text {
    margin-bottom: 100px;
}
