@use '../abstracts';
@use '../components';

.scroll-scene {
    position: fixed;
}

.canvas-text {
    width: 100vw;
    height: 100vh;
    padding: 0 auto;

    h4 {
        font-size: 4rem;
    }
}
