@use '../abstracts';
@use '../components';



.canvas-openbrush {
  max-height: 300px; //overwritten by three js
}

.canvas-box {
  display: flex;
  min-height: 80vh;
  max-height: 200vw;
  overflow: hidden;
  position: relative;
  z-index: 11;
  background-color: black;
}
