@use '../abstracts';
@use '../components';

.canvas-box {
    min-height: 80vh;
    max-height: 200vw;
    overflow: hidden;
    position: sticky;
    z-index: 11;
}

.mobile {
    pointer-events: none;
}

.tablet {
    pointer-events: none;
}

.scroll-home-scene {
    position: sticky;
}
