@use '../abstracts';


.writing-pagefill {
    min-height: 100vh;
}

.writing-block {
    min-width: 300px;
    opacity: 0.9;
    margin: 15px auto 0;
    border-radius: 6px;

    margin-bottom: 100px;
    display: flex;
    max-width: 60%;
    align-items: center;
    justify-content: center;
    padding: 5px;

    @include abstracts.breakpoint(tablet) {
        gap: 3rem;
    }
    
    .text-inner {
        padding: 4px;
        

        h3 {
            color: #fff;
            font-family: abstracts.$headerFont;
            font-size: 1.4rem;
            margin-top: 10px;
            line-height: 1.4;
        }

        p {
            color: #fff;
            font-family: abstracts.$bodyFont, serif;
            font-size: 1.1rem;
            margin-top: 0;
            line-height: 1.4;
        }
    }

    .read-btn {
        padding: 10px;
        margin: 10px;
        background-color: rgb(221, 190, 17);
        border: 1px solid rgb(17, 16, 16);
        border-radius: 6px;
        font-size: 1rem;
        font-weight: 600;
        font-family: abstracts.$bodyFont;

        &:hover {
            box-shadow: rgba(0, 0, 0, 0.4) 2px 5px 7px, rgba(0, 0, 0, 0.3) 0px 8px 15px -3px;
        }
    }
}

.text__content {
    font-family: abstracts.$bodyFont;
}
