@use '../abstracts';

.writing-pagefill {
    min-height: 100vh;
}

.writing-block {
    width: clamp(300px, 50%, 900px);
    opacity: 0.9;
    margin: 15px auto 0;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    box-shadow: abstracts.$listShadow;

    @include abstracts.breakpoint(tablet) {
        gap: 3rem;
    }

    .text-inner {
        padding: 4px;

        h3 {
            color: abstracts.$slateBlack;
            font-family: abstracts.$headerFont;
            font-size: 1.6rem;
            margin-top: 10px;
            line-height: 1.4;
        }

        p {
            color: abstracts.$slateBlack;
            font-family: abstracts.$bodyFont, serif;
            font-size: 1.2rem;
            margin-top: 0;
            line-height: 1.4;
        }
    }

    .read-btn {
        padding: 10px;
        margin: 10px;
        background-color: rgb(221, 190, 17);
        border-radius: 6px;
        font-size: 1rem;
        font-weight: 600;
        font-family: abstracts.$bodyFont;

        &:hover {
            box-shadow: abstracts.$hoverShadow;
        }
    }
}
