@import "../Styles/variables.scss";

.footer {
    background: $dark;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    text-decoration: none;
    padding: 0;
    @include breakpoint(md) {
        padding: 0 3rem;
    }
    transition: 0.3s ease all;

    &__content {
        color: $light;
        margin: 0 auto;
        padding-top: 2rem;
        flex-grow: 1;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 100;

        &__logo {
            font-size: 1rem;
            font-weight: bold;
        }
    }

    &__social {
        align-items: center;
        flex-grow: 1;
        
        

        &__icon {
        text-decoration: none;
        flex-grow: 1;
        min-width: 300px;
        color: rgba($dark, 0.1);
        align-items: center;

            a:visited {
                text-decoration: none;
                color: rgba($light, 0.1);
            }
        }

        &__text {
            text-decoration: none;
            font-weight: bold;
            font-size: 1.4rem;
            color: $dark;
            position: relative;
            top: -60px;
            left: 10px;
        }
    }

    &__img {
        max-width: 300px;
    }
}
