@import "../Styles/variables.scss";



// styles for modal

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top:0;
    left: 0;
    background-color: lightseagreen;
    opacity: 0.6;
}

.modal {
    height: 400px;
    top: 100px;
    left: 100px;
    background: $dark;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.close {
    height: 50px;
    width: 50px;
    background-color: brown;
}