@import "../Styles/variables.scss";



// styles for modal

.modal {
    height: 300px;
    background: $background;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.close {
    height: 50px;
    width: 50px;
    background-color: brown;
}