@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


$headerFont: 'Ubuntu', sans-serif;
$mainBlockColor: #345abc;

//other colors
$dark: rgb(29,29,29);
$light: #fff;
$primary: rgb(165, 165, 244);
$background: rgb(244, 244, 255);

//spacing
$spacing-med: 16px;
$spacing-large: 24px;

//border
$borderRadius: 12px;
$headerHeight: 100px;

//basic mix-in
@mixin breakpoint($point) {
    @if $point == md {
        // 760px (standard mobile breakpoint) 
        @media (min-width: 48em) {
            @content;
        }
    }
}
