@use '../abstracts';

.content {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 97%;
    height: 97%;
    background-color: #d0d2d4;
    border-radius: 10px;
}

.grid-img-container {
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-radius: 10px;
}

.alert-container {
    padding: 70px 10px 10px 10px;
    display: flex;
    align-items: center;
    flex-direction: column;

    .alert-message {
        color: abstracts.$ivoryWhite;
        font-family: abstracts.$bodyFont;
        font-size: clamp(0.8rem, 3vw, 1.5rem);
    }

    .wip-image {
        width: 120%;
        max-width: 1000px;
    }
}
        