@use '../abstracts';


.card {
    width: 200px;
    height: 300px;

    &:hover {
        transform: translateY(50px) scale(1.2);
    }
}

.content {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 97%;
    height: 97%;
    background-color: #d0d2d4;
    border-radius: 10px;
}


    //other card stuff
.grid-img-container {
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-radius: 10px;
}

.newItem {
    width: 45px;
    height: 20px;
    position: absolute;
    background-color: turquoise;
    z-index: 1;
    border: 1px solid teal;
    text-align: center;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 5px;
}

.alert-container {
    padding: 100px;
    display: flex;
    justify-content: center;
}

.alert-message {
    color: #fff;
    font-family: abstracts.$headerFont;
}
        