@use '../abstracts';


.footer {
    background: rgb(49, 47, 47);
    display: flex;
    gap: 1rem;
    text-decoration: none;
    transition: 0.3s ease all;
    padding: 5px 15px 0 15px;

    &__content {
        color: abstracts.$light;
        align-self: center;
        flex-grow: 1;
        position: relative;

        &__logo {
            font-size: 0.7rem;
            opacity: 0.8;
        }
    }

    &__social {

        &__icon {
        margin-top: 5px;
        flex-grow: 1;
        height: 70px;
        overflow: hidden;
            
            a {
                text-decoration: none;
            }

            a:visited {
                text-decoration: none;
                color: rgba(#fff, 0.1);
            }
        }

        &__text {
            text-decoration: none;
            font-weight: bold;
            font-size: 1.25rem;
            font-family: abstracts.$headerFont;
            max-width: 170px;
            color: rgb(29,29,29);
            position: relative;
            top: -52px;
            left: 76px;
        }
    }

    &__img {
        max-height: 65px;
    }
}
        