@use '../abstracts';


//placeholder

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


$headerFont: 'Ubuntu', sans-serif;
$mainBlockColor: #345abc;

//other colors
$dark: rgb(29,29,29);
$light: #fff;
$primary: rgb(165, 165, 244);
$background: rgb(244, 244, 255);

//spacing
$spacing-med: 16px;
$spacing-large: 24px;

//border
$borderRadius: 12px;
$headerHeight: 100px;

//text
$maxParagraphWidth: 60rem;

//basic mix-in
@mixin breakpoint($point) {
    @if $point == md {
        // 1920px (max desktop size)
        // 760px (standard tablet breakpoint) 
        // 420px (standard phone
        // 320px (min phone width)
        @media (min-width: 48em) {
            @content;
        }
    }
}

        //placeholder


.footer {
    background: rgb(49, 47, 47);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    text-decoration: none;
    padding: 0;
    @include breakpoint(md) {
        padding: 0 3rem;
    }
    transition: 0.3s ease all;

    &__content {
        color: $light;
        margin: 0 auto;
        padding-top: 2rem;
        flex-grow: 1;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 100;

        &__logo {
            font-size: 1rem;
            font-weight: bold;
        }
    }

    &__social {
        align-items: center;
        flex-grow: 1;
        
        

        &__icon {
        text-decoration: none;
        flex-grow: 1;
        min-width: 300px;
        color: rgba($dark, 0.1);
        align-items: center;

            a:visited {
                text-decoration: none;
                color: rgba($light, 0.1);
            }
        }

        &__text {
            text-decoration: none;
            font-weight: bold;
            font-size: 1.4rem;
            color: $dark;
            position: relative;
            top: -60px;
            left: 10px;
        }
    }

    &__img {
        max-width: 300px;
    }
}
        