@use '../abstracts';

.header-main::after {
    content: '';
    position: absolute;
    height: 20px;
    width: 100%;
    max-width: 2240px;
    background: linear-gradient(to bottom, abstracts.$slateBlack, transparent);
    z-index: 14;
}

.header {
    background: abstracts.$slateBlack;
    font-family: abstracts.$headerFont;
    width: 100%;
    padding: 0;
    overflow: hidden;

    &__content {
        overflow: hidden;
        color: abstracts.$ivoryWhite;
        max-width: 1920px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;

        &__nav {
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100vh;
            position: fixed;
            display: flex;
            z-index: 29;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            @include abstracts.breakpoint(tablet) {
                transform: none;
                flex-direction: row;
                background: transparent;
                width: auto;
                height: 100%;
                position: static;
            }

            ul {
                list-style: none;
                display: flex;
                flex-direction: column;
                margin-bottom: abstracts.$spacing-large;

                @include abstracts.breakpoint(tablet) {
                    flex-direction: row;
                    margin-bottom: 0;
                    margin-right: calc(0.5rem + #{abstracts.$spacing-med});
                }

                li {
                    text-shadow: none;

                    @include abstracts.breakpoint(tablet) {
                        text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191,
                            2px 5px 6px rgba(16, 16, 16, 0.8);
                    }

                    a {
                        text-decoration: none;
                        color: inherit;
                        padding: 0.1rem;
                        border-radius: abstracts.$borderRadiusLarge;
                        transition: 0.3s ease all;

                        &:active {
                            border-radius: abstracts.$borderRadiusLarge;
                            background: linear-gradient(
                                rgba(abstracts.$light, 0.1),
                                rgba(abstracts.$light, 0.2)
                            );
                        }
                    }
                }
            }

            button {
                cursor: pointer;
                outline: none;
                padding: 0.75rem 1.25rem;
                border-radius: abstracts.$borderRadiusLarge;
                font-size: 1rem;
                font-family: inherit;
                background: abstracts.$primary;
                color: abstracts.$dark;
                border: 1px solid transparent;
                transition: 0.3s ease all;

                &:hover {
                    border-color: abstracts.$primary;
                    background: rgba(abstracts.$primary, 0.1);
                    color: abstracts.$primary;
                }
                &:active {
                    border-color: abstracts.$primary;
                    background: linear-gradient(
                        rgba(abstracts.$light, 0.2),
                        rgba(abstracts.$light, 0.3)
                    );
                    color: abstracts.$ivoryWhite;
                }
            }

            &.isMenu {
                background-color: abstracts.$slateBlack;
                position: fixed;
                z-index: 28;
                top: 0;
            }
        }

        &__toggle {
            cursor: pointer;
            display: flex;
            align-items: center;
            font-size: clamp(2rem, 12vw, 3.3rem);
            transition: 0.3s ease all;
            position: absolute;
            right: 0.6rem;
            top: 0.4rem;
            z-index: 30;
            color: abstracts.$ivoryWhite;

            &:hover {
                color: abstracts.$mistGray;
            }

            @include abstracts.breakpoint(tablet) {
                display: none;
            }
        }
    }
}

.parallax-box {
    background: url('../../Assets/images/parallax/background.jpg');
    background-repeat: no-repeat;
    background-size: 160%;
    position: relative;
    padding: 0;
    height: 15vw;
    min-height: 90px;
    max-height: 140px;
    overflow: hidden;

    @include abstracts.breakpoint(phone) {
        background-size: 110%;
    }
}

.parallax-text {
    color: abstracts.$light;
    padding-top: 0.2rem;
    padding-left: 0.5rem;
    position: absolute;
    top: 0;
    z-index: 50;
    font-size: clamp(1.5rem, 5vw, 3rem);
    width: fit-content;
    text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
        1px 4px 1px #919191, 1px 4px 6px rgba(16, 16, 16, 0.6),
        1px 6px 8px rgba(16, 16, 16, 0.9);

    @include abstracts.breakpoint(tablet) {
        font-size: clamp(2.25rem, 3vw, 3.3rem);
        padding-top: 0;
    }
}

.parallax-nav {
    position: absolute;
    top: 1%;
    right: 0;

    ul {
        display: flex;
        list-style: none;
        flex-direction: column;
        position: static;
        margin-bottom: 5rem;

        @include abstracts.breakpoint(tablet) {
            flex-direction: row;
        }

        li {
            text-decoration: none;
            color: abstracts.$light;
            padding: 0.5rem 1rem;
            border-radius: abstracts.$borderRadiusSmall;
            font-size: clamp(1.5rem, 2.5vw, 2rem);
            font-weight: bold;
            margin-top: 0.2em;

            &:hover {
                background: rgba(abstracts.$slateBlack, 0.5);
            }
        }
    }
}

#prlx-back {
    position: absolute;
    top: 18%;
    width: 150%;

    @include abstracts.breakpoint(phone) {
        top: 8%;
        width: 110%;
    }

    @include abstracts.breakpoint(tablet) {
        top: 5%;
        width: 100%;
    }

    @include abstracts.breakpoint(wide-desktop) {
        top: -16%;
        width: 100%;
    }

    @include abstracts.breakpoint(max-desktop) {
        top: -30%;
        width: 100%;
    }
}

#prlx-mid {
    position: absolute;
    top: 42%;
    width: 150%;

    @include abstracts.breakpoint(phone) {
        top: 35%;
        width: 110%;
    }

    @include abstracts.breakpoint(tablet) {
        top: 27%;
        width: 100%;
    }

    @include abstracts.breakpoint(wide-desktop) {
        top: 14%;
        width: 100%;
    }

    @include abstracts.breakpoint(max-desktop) {
        top: 0%;
        width: 100%;
    }
}

#prlx-front {
    position: absolute;
    top: 76%;
    z-index: 27;
    width: 150%;

    @include abstracts.breakpoint(phone) {
        top: 71%;
        width: 110%;
    }

    @include abstracts.breakpoint(tablet) {
        top: 71%;
        width: 100%;
    }

    @include abstracts.breakpoint(wide-desktop) {
        top: 68%;
        width: 100%;
    }

    @include abstracts.breakpoint(max-desktop) {
        top: 68%;
        width: 100%;
    }
}
