@use '../abstracts';
 
.header-main::after {
    content: '';
    position: absolute;
    height: 50px;
    width: 100%;
    background: linear-gradient(to bottom, rgb(43, 43, 44), transparent);
    z-index: 14;
}
        
.header {
    background: abstracts.$dark;
    font-family: abstracts.$headerFont;
    width: 100%;
    padding: 0;
    transition: 0.3s ease all;
    overflow: hidden;

    &__content {
        overflow: hidden;
        color: abstracts.$light;
        max-width: 1920px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;

        &__nav {
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100vh;
            position: fixed;
            display: flex;
            z-index: 29;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            transition: 0.4s ease transform;

            @include abstracts.breakpoint(tablet) {
                transform: none;
                flex-direction: row;
                background: transparent;
                width: auto;
                height: 100%;
                position: static;
            }

            ul {
                list-style: none;
                display: flex;
                flex-direction: column;
                margin-bottom: abstracts.$spacing-large;

                @include abstracts.breakpoint(tablet) {
                    flex-direction: row;
                    margin-bottom: 0;
                    margin-right: calc(0.5rem + #{abstracts.$spacing-med});
                }
                
                li {
                    text-shadow: 1px 1px 1px #919191,
                        1px 2px 1px #919191,
                        1px 3px 1px #919191,
                        1px 6px 4px rgba(16, 16, 16, 0.7);
                    
                    a {
                        text-decoration: none;
                        color: inherit;
                        padding: 0.75rem rem;
                        border-radius: abstracts.$borderRadius;
                        transition: 0.3s ease all;
        
                        
                        &:active {
                            border-radius: calc(#{abstracts.$borderRadius} + 6px);
                            background: linear-gradient(rgba(abstracts.$light, 0.1), rgba(abstracts.$light, 0.2));
                        }
                    }
                }
            }

            button {
                cursor: pointer;
                outline: none;
                padding: 0.75rem 1.25rem;
                border-radius: abstracts.$borderRadius;
                font-size: 1rem;
                font-family: inherit;
                background: abstracts.$primary;
                color: abstracts.$dark;
                border: 1px solid transparent;
                transition: 0.3s ease all;
        
                &:hover {
                    border-color: abstracts.$primary;
                    background: rgba(abstracts.$primary, 0.1);
                    color: abstracts.$primary;
                }
                &:active {
                    border-color: abstracts.$primary;
                    background: linear-gradient(rgba(abstracts.$light, 0.2), rgba(abstracts.$light, 0.3));
                    color: #fff;
                }
            }
    
            &.isMenu {
                background-color: #2c2c2c;
                position: fixed;
                z-index: 28;
                top:0;
            }
        }

        &__toggle {
            cursor: pointer;
            display: flex;
            align-items: center;
            font-size: clamp(2rem, 12vw, 3.3rem);
            transition: 0.3s ease all;
            position: absolute;
            right: 0.6rem;
            top: 0.4rem;
            z-index: 30;
            color: #fff;

            &:hover {
                color: #aaa6a6;
            }

            @include abstracts.breakpoint(tablet) {
                display: none;
            }
        }
    }
}

// temp other
.parallax-box {
    background: url('../../Assets/images/parallax/background1.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    height: 22vw;
    max-height: 180px;
    padding: 0;
}

.parallax-text {
    color: abstracts.$light;
    padding-top:1rem;
    padding-left: 0.5rem;
    position: relative;
    z-index: 50;
    font-size: clamp(1.5rem, 5vw, 3rem);
    width:fit-content;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 10px 6px rgba(16, 16, 16, 0.8);

    @include abstracts.breakpoint(tablet) {
        font-size: clamp(2.5rem, 5vw, 4rem);
        
    }
}

.parallax-nav {
    position: absolute;
    top: 1%;
    right: 0;

    ul {
        display: flex;
        list-style: none;
        flex-direction: column;
        position: static;
        margin-bottom: 4rem;

        @include abstracts.breakpoint(tablet) {
            flex-direction: row;
        }
        
        li {
            text-decoration: none;
            color: abstracts.$light;
            padding: 0.85rem 1rem;
            border-radius: abstracts.$borderRadiusSmall;
            font-size: clamp(1.4rem, 3vw, 2rem);
            font-weight: bold;

            &:hover {
                background: rgba(abstracts.$dark, 0.5);
            }
        
        }
    }
}

#prlx-back {
    top: 18%;
}

#prlx-mid {
    top: 54%;
}

#prlx-front {
    top: 70%;
}

.parallax-img {
    width: 100%;
    position: absolute;
    z-index: 2;
}
