@use '../abstracts';


          
.outer-container {
    overflow: hidden;
    padding: 0;
    position: relative;
    min-height:800px;

    @include abstracts.breakpoint(other) {
        margin: 0px auto;
        max-width: 1340px;
    }

    @include abstracts.breakpoint(desktop) {
        margin: 2% auto;
        align-items: center;
    }

    .img {
        position: absolute;
        top: 0;
        right: 0;
        max-width: 100vw;
        clip-path: polygon(0 20%, 0 0, 100% 0, 100% 100%);

        @include abstracts.breakpoint(other) {
            clip-path: polygon( 0 0, 100% 0, 100% 100%);
            width: 100%;
        }
    }
}

.text {
    padding: 2rem;
    line-height: 1.2;
    min-width: 300px;
    width: 92%;
    max-width: 1400px;
    text-align: left;
    background: rgb(7,84,114);
    background: linear-gradient(45deg, rgba(7,84,114,1) 28%, rgb(26, 120, 160) 90%);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    opacity: 0.9;
    margin: 30px auto 0;
    border-radius: 6px;
    position: relative;
    z-index: 60;

    &__content {
        color: #fff;
        font-family: abstracts.$bodyFont, serif;
        font-size: 1.1rem;
        margin-top: 1rem;
        line-height: 1.4;
    }
}

.tagline {
    font-size: 1.6rem;
    color: rgb(247, 205, 19);
    text-shadow: 1px 2px 2px rgba(16, 16, 16, 0.7);
    border-bottom: 4px solid rgb(32, 31, 31);
    margin: 0.5rem auto;
}

.block1 {
    width: 90vw;
    max-width: 1000px;
    margin-top:300px;
    margin-left: 0;

    @include abstracts.breakpoint(tablet) {
        width: 45vw;
    }
}

.block2 {
    position: relative;
    width: 90vw;
    max-width: 1200px;
    margin-left: 0;

    @include abstracts.breakpoint(tablet) {
        width: 65vw;
    }
}

.text-angle {
    border: 1px solid yellow;
    position: relative;
    float: right;
    height: 300px;
    width: 300px;
}
