@use '../abstracts';


          
.container {
    background-color: #eee;
    overflow: hidden;
    display: flex;
    padding: 2%;
    // max-height: 1vh;
}


.img {
    max-width: 800px;
    clip-path: polygon(0 10%, 0 0, 100% 0, 100% 100%);
}

.text {
    padding: 5rem;
    line-height: 1.5;
    min-width: 30rem;
    background-color: rgb(127, 127, 127);
    opacity: 0.8;
    border-radius: 20px;
    padding: 5rem;
    margin:50px;
    height: fit-content;


    &__content {
        font-family: 'Times New Roman', Times, serif;
        font-size: 1.2rem;

    }
}
