@use '../abstracts';


//grid stuff
.info-grid-container {
    margin-top: 30px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 0;
    gap: 0.5rem;

    @include abstracts.breakpoint(tablet) {
        grid-template-columns: repeat(5, 1fr);
    }
}

.grid-header {
    margin-left: 2rem;
}

.grid-item {
    overflow: hidden;

    @include abstracts.breakpoint(tablet) {
        grid-column: span 2;
    }
}

.grid-text {
    background: rgb(7,84,114);
    background: linear-gradient(45deg, rgba(7,84,114,1) 28%, rgb(20, 106, 143) 90%);
    border-radius: 6px;
    opacity: 0.95;
    margin: 0.5rem;
    padding: 0.2rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    @include abstracts.breakpoint(tablet) {
        grid-column: span 3;
    }

    p {
        @include abstracts.breakpoint(desktop) {
            font-size: 1.1rem;
            line-height: 1.5;
        }
    }
}

.text-mid {
    @include abstracts.breakpoint(tablet) {
        grid-column: span 2;
    }

}

#grid-img {
    width: 100%;
    border: 2px solid rgb(48, 44, 44);

    @include abstracts.breakpoint(tablet) {
    }

    @include abstracts.breakpoint(other) {
        
    }
}

.img-mid {

    @include abstracts.breakpoint(tablet) {
       grid-column: span 3;
       margin: 10px;
    }
}

#grid-img-sm {
    width: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    @include abstracts.breakpoint(tablet) {
        width: 60%;
        border: 2px solid rgb(48, 44, 44);
    }
}

.text-block {
    line-height: 1.4;
    text-align: left;
    color: #fff;
    font-family: abstracts.$bodyFont, serif;
    font-size: 1.05rem;
    padding: 1.8rem;
}

.text-extra {
    padding-top: 0.2rem;
}





.outer-container {
    overflow: hidden;
    padding: 0;
    position: relative;
    min-height:800px;

    @include abstracts.breakpoint(other) {
        margin: 0px auto;
        max-width: 1340px;
    }

    @include abstracts.breakpoint(desktop) {
        margin: 2% auto;
        align-items: center;
    }
}

.text {
    padding: 1rem;
    padding-bottom: 1.5rem;
    line-height: 1.2;
    min-width: 300px;
    width: 92%;
    max-width: 1400px;
    text-align: left;
    background: rgb(7,84,114);
    background: linear-gradient(45deg, rgba(7,84,114,1) 28%, rgb(26, 120, 160) 90%);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    opacity: 0.9;
    margin: 30px auto 0;
    border-radius: 6px;
    position: relative;
    z-index: 20;

    @include abstracts.breakpoint(phone) {
        padding: 2rem;
    }

    &__content {
        color: #fff;
        font-family: abstracts.$bodyFont, serif;
        font-size: 1.1rem;
        margin-top: 1rem;
        line-height: 1.4;
    }
}

.tagline {
    font-size: 1.6rem;
    font-family: abstracts.$headerFont;
    color: rgba(243, 208, 7, 0.952);
    text-shadow: 1px 2px 2px rgba(16, 16, 16, 0.7);
    width: 70%;
    margin-top: 15px;
    border-bottom: 4px solid rgb(43, 43, 58);

    @include abstracts.breakpoint(tablet) {
        
        padding-bottom: 0;
    }
}

.grid-tagline {
    margin-left: 2rem;
    padding-bottom: 15px;
    border-bottom: 0;
    padding-bottom: 10px;

    @include abstracts.breakpoint(tablet) {
        border-bottom: 4px solid rgb(43, 43, 58);
        width: 90%;
        font-size: clamp(1.6rem, 2.5vw, 2.6rem);
        padding-top: 8%;
        padding-bottom: 0;
    }
}

.block1 {
    width: 90vw;
    max-width: 1000px;
    margin-top:300px;
    margin-left: 0;

    @include abstracts.breakpoint(tablet) {
        width: 45vw;
    }
}

.block2 {
    position: relative;
    width: 90vw;
    max-width: 1200px;
    margin-left: 0;

    @include abstracts.breakpoint(tablet) {
        width: 65vw;
    }
}
