@use '../abstracts';

.modal-background {
    position: relative;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #000;
}

.modal-container {
    height:88vh;
    width: 95vw;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid orange;
    background: #363131;
    position: fixed;
    
}

.close {
    height: 50px;
    width: 50px;
    position: relative;
    float: right;
    right: 20px;
    top:20px;
}
