@use '../abstracts';


.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top:0;
    left: 0;
    background-color: lightseagreen;
    opacity: 0.6;
}

.modal {
    height: 400px;
    top: 100px;
    left: 100px;
    background: abstracts.$dark;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.close {
    height: 50px;
    width: 50px;
    background-color: brown;
}

// break 

.grid-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    place-items: center center;
    padding: 20px;
    overflow: hidden;
}

.grid-card {
    display: grid;
    border-radius: 10px;
    height: 500px;
    background: transparent;
    place-items: center center;
    overflow: hidden;
    position: relative;
  }
  
  .grid-card-content {
    position: relative;
    display: grid;
    overflow: hidden;
    width: 97%;
    height: 97%;
    background-color: #d0d2d4;
    border-radius: 10px;
  
    // .grid-img-container::before {
    //   content: '';
    //   width: 100px;
    //   height: 160%;
    //   position: absolute;
    //   left: 40%;
    //   top: -20%;
    //   background: linear-gradient(#47494d, #f8cc7a);
    //   animation: animate 8s linear infinite;
    // }
    
  
    //other card stuff
    .grid-img-container {
      position: relative;
      height: 100%;
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
      border-radius: 10px;
    }
  
    .grid-card-img {
      width: 100%;
      z-index: 10;
    }
  }
  
  .grid-card-desc-container {
    position: relative;
    p {
      font-size: 0.7em;
    }
  }