@use '../abstracts';

.modal-background {
    position: relative;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #000;
}

.modal-container {
    height:88vh;
    width: 95vw;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid orange;
    background: #363131;
    position: fixed;
    
}

.close {
    height: 50px;
    width: 50px;
    position: relative;
    float: right;
    right: 20px;
    top:20px;
}

// break

.artwork-grid-container {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    place-items: center center;
    padding: 20px;
    overflow: hidden;
}

.grid-card {
    display: grid;
    height: 500px;
    place-items: center center;
    overflow: hidden;
    position: relative;
    // background-color: aqua;
}

.grid-card-content {
    position: relative;
    display: grid;
    width: 90%;
    border-width: 4px;
    border-style: solid;
    background: linear-gradient(45deg, gold, rgb(124, 124, 8));
    border-radius: 6px;
    // border-image: linear-gradient(45deg, rgb(201, 165, 5), rgba(0, 0, 0, 0)) 1 100%;
    // border-top: 0;

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.4) 2px 5px 7px, rgba(0, 0, 0, 0.3) 0px 8px 15px -3px;
    }
    
    
    //other card stuff
    .grid-img-container {
        position: relative;
        height: 100%;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    }
}

.grid-card-desc-container {
    position: relative;
    p {
        font-size: 1rem;
        padding: 5px;
    }

    h4 {
      position: relative;
      bottom: 40px;
      float: right;
      margin: 0.5rem 20px
    }
}
