@use '../abstracts';

.grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 0;
    gap: 0.5rem;

    @include abstracts.breakpoint(phone) {
        grid-template-columns: repeat(4, 1fr);
    }
    @include abstracts.breakpoint(tablet) {
        margin: 0 5rem;
    }

    @include abstracts.breakpoint(desktop) {
        grid-template-columns: repeat(6, 1fr);
        gap: 1rem;
        margin-bottom: 400px;
    }

    #name-text {
        @include abstracts.breakpoint(phone) {
            grid-row-start: 1;
            grid-column-start: 1;
            grid-row-end: 2;
            grid-column-end: 3;
        }
        @include abstracts.breakpoint(desktop) {
            grid-row-start: 1;
            grid-column-start: 2;
            grid-row-end: 2;
            grid-column-end: 5;
        }
    }

    #welcome-title {
        @include abstracts.breakpoint(phone) {
            grid-row-start: 2;
            grid-column-start: 1;
            grid-row-end: 3;
            grid-column-end: 4;
        }

        @include abstracts.breakpoint(desktop) {
            grid-row-start: 2;
            grid-column-start: 2;
            grid-row-end: 3;
            grid-column-end: 5;
        }
    }

    #self-img {
        border-radius: 50%;
        display: flex;
        align-items:flex-start;
        justify-content: center;

        img {
            max-width: 225px;
            min-width: 200px;
            max-height: 225px;
        }

        @include abstracts.breakpoint(phone) {
            border-radius: 0;
            grid-row-start: 4;
            grid-column-start: 1;
            grid-row-end: 5;
            grid-column-end: 3;
        }
        @include abstracts.breakpoint(desktop) {
            border-radius: 0;
            grid-row-start: 4;
            grid-column-start: 2;
            grid-row-end: 5;
            grid-column-end: 4;
        }
    }

    #about-text {
        @include abstracts.breakpoint(phone) {
            grid-row-start: 3;
            grid-column-start: 1;
            grid-row-end: 4;
            grid-column-end: 5;
        }

        @include abstracts.breakpoint(desktop) {
            grid-row-start: 3;
            grid-column-start: 2;
            grid-row-end: 4;
            grid-column-end: 6;
        }
    }

    #mtn-img {
        
        @include abstracts.breakpoint(phone) {
            grid-row-start: 7;
            grid-column-start: 1;
            grid-row-end: 8;
            grid-column-end: 5;
            margin-bottom: -25px;
        }
        @include abstracts.breakpoint(desktop) {
            grid-row-start: 7;
            grid-column-start: 2;
            grid-row-end: 8;
            grid-column-end: 6;
            margin-bottom: 25px;
        }
    }

    #cedaring {
        @include abstracts.breakpoint(phone) {
            grid-row-start: 5;
            grid-column-start: 1;
            grid-row-end: 6;
            grid-column-end: 5;
        }
        @include abstracts.breakpoint(desktop) {
            grid-row-start: 5;
            grid-column-start: 2;
            grid-row-end: 6;
            grid-column-end: 6;
        }

    }

    #tree-img {
        width: 65%;

        @include abstracts.breakpoint(phone) {
            grid-row-start: 4;
            grid-column-start: 3;
            grid-row-end: 5;
            grid-column-end: 5;
            width: 100%;
        }
        @include abstracts.breakpoint(desktop) {
            grid-row-start: 4;
            grid-column-start: 4;
            grid-row-end: 5;
            grid-column-end: 6;
            width: 100%;
        }
    }

    .grid-item {
        overflow: hidden;
    }

    .grid-text {
        padding: 0 0.5rem;
    
        p {
            font-size: 1.1rem;
            font-weight: 500;
            color: abstracts.$slateBlack;
            line-height: 1.4;
            margin: 0.25rem;

            @include abstracts.breakpoint(desktop) {
                font-size: 1.2rem;
            }
        }
    }

    .title {
        padding: 5px;
        color: abstracts.$ceruleanBlue;
        text-shadow: abstracts.$bodyTextShadow;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        #hello {
            font-family: abstracts.$headerFont;
            font-size: 3.5rem;
            font-weight: 500;
            color: abstracts.$honeyGold;
            text-shadow: abstracts.$headerShadow;
        }

        .heading {
            font-family: abstracts.$bodyFont;
            border-bottom: 4px solid abstracts.$honeyGold;
            font-size: clamp(2rem, 4vw, 2.75rem);
            margin: 0.5rem 0;
            line-height: 1.1;
            font-weight: 600;

            @include abstracts.breakpoint(phone) {
                grid-column: span 1;
            }
        }
    }

    .grid-image {
        margin: 0 auto;

        img {
            box-shadow: abstracts.$headerShadow;
            width: 100%;
        }
    }

    .grid-img-small {
        width: 65%;
        max-width: 400px;
    }
}

.text {
    max-width: 1400px;
    text-align: left;
    position: relative;
    z-index: 20;
    font-family: abstracts.$bodyFont;
}
