@use '../abstracts';


.center {
    display: flex;
    position: relative;
    top: -70vh;
    text-align: center;
    justify-content: center;

    span {
        color: #181818;
        font-size: 1.7rem;
        text-transform: uppercase;
        line-height: 200px;
        animation: text 3s ease-in-out infinite;
    }
}

.ended {
    display: none;
}

.ring {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: ring 1.6s linear infinite;

    :before {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        box-shadow: 0 0 8px rgba(255, 255, 255, .3);

    }
}

@keyframes ring {
    0% {
        transform: rotate(0deg);
        box-shadow: 2px 5px 2px #fa0a0a;
    }
    50% {
        transform: rotate(180deg);
        box-shadow: 2px 5px 2px #f0cf13;
    }
    100% {
        transform: rotate(360deg);
        box-shadow: 2px 5px 2px #59ff17;
    }
}

@keyframes text {
    50% {
        color: black;
    }
}



