@use '../abstracts';

.center {
    display: flex;
    position: relative;
    z-index: 20;
    top: -70vh;
    text-align: center;
    justify-content: center;

    span {
        color: #f1f1f1;
        font-size: 1.2em;
        text-transform: uppercase;
        line-height: 120px;
        animation: text 3s ease-in-out infinite;

        @include abstracts.breakpoint(tablet) {
            font-size: 1.8rem;
            line-height: 180px;
        }
    }
}

.center-loading {
    z-index: 20;
    position: sticky;
    top: 50%;
    display: flex;
    justify-content: center;
    margin-left: 200px;
    margin-top: 200px;

    span {
        color: #000;
        font-size: 1.2em;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 120px;
        animation: text 2.5s ease-in-out infinite;

        @include abstracts.breakpoint(tablet) {
            font-size: 1.8rem;
            line-height: 180px;
            font-weight: 700;
        }
    }
}

.ring {
    position: absolute;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    animation: ring 1.8s linear infinite;

    @include abstracts.breakpoint(tablet) {
        width: 180px;
        height: 180px;
    }
}

.ended {
    display: none;
}

@keyframes ring {
    0% {
        transform: rotate(0deg);
        box-shadow: 2px 6px 4px #ffd900;
    }
    50% {
        transform: rotate(180deg);
        box-shadow: 4px 10px 6px #e69705;
    }
    100% {
        transform: rotate(360deg);
        box-shadow: 2px 5px 2px #a3e704;
    }
}

@keyframes text {
    50% {
        color: rgb(97, 97, 97);
    }
}
