@use '../abstracts';


.container {
    position: relative;
}

.percentage {
    position: relative;
}


//canvas loading bar
.canvas-loading-bar {
    position: absolute;
    top: 80%;
    width: 100%;
    height: 3px;
    background: #fff;
    transform: scaleX(0);
    transition: transform 0.5s;
    transform-origin: top left;
    will-change: transform;
  }
  
  .canvas-loading-bar.ended {
    transform: scaleX(0);
    transform-origin: top right;
    transition: transform 1.5s ease-in-out;
  }