@use './scss/pages';
@use './scss/abstracts';

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    background: rgb(75, 74, 74);
}

a {
    text-decoration: none;
    color: abstracts.$ivoryWhite; //title
}

body {
    background: rgb(245, 245, 245);
    background: linear-gradient(
        0deg,
        rgba(240, 240, 240, 1) 0%,
        rgb(210, 214, 216) 84%
    );
    max-width: 2240px;
    margin: 0 auto;
}

#portal-root {
    position: fixed;
    z-index: 500;
}
