@use "./scss/abstracts";
@use "./scss/components";
@use "./scss/pages";

//variables
$altBlueColor: #61dafb;

* {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  background: rgb(255,254,252);
  background: linear-gradient(180deg, rgba(255,254,252,1) 13%, rgba(230,230,221,1) 77%);
}


#portal-root {
  position: fixed;
}

.App-link {
  color: #61dafb;
}


.body-container {
  background-color: $altBlueColor;
  height: 80px;
  display: block;
}

.break-box {
  width: 100%;
  height: 50px;
  background-color: white;
  display: block;
}


