.App {
  text-align: center;
  background-color: #6e6f70;
}

canvas {
  border: #61dafb;
  /* border-width: 10px; */
  display: block;
  height: 600px;
}

/* .canvas-main {
  background: red;
} */

.canvas-alt {
  background: #61dafb;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.nav-container {
  text-align: left;
}

.nav-list {
  list-style: none;
}

.body-container {
  background-color: #8e9fa0;
  height: 200px;
  opacity: .5;
}
