@use './scss/pages';
@use './scss/abstracts';

//variables
$altBlueColor: #61dafb;

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    background: rgb(75, 74, 74);
}

a {
    text-decoration: none;
    color: abstracts.$ivoryWhite; //title
}

body {
    background: rgb(245, 245, 245);
    background: linear-gradient(
        0deg,
        rgba(245, 245, 245, 1) 0%,
        rgb(196, 204, 201) 84%
    );
    max-width: 2240px;
    margin: 0 auto;
}

#portal-root {
    position: fixed;
    z-index: 500;
}

.App-link {
    color: #61dafb;
}

.header-menu-open {
    position: fixed;
}
