

// px / 16 = em
$breakpoints: (
  'phone': 26em, //420
  'tablet': 48em,  //760
  'other': 56em, //900
  'desktop': 78em, //1260
  'max-desktop': 120em  //1920
);

@mixin breakpoint($size) {
  @media (min-width: map-get($breakpoints, $size)) {
    @content;
  }
}

//basic mix-in
@mixin breakpointOld($point) {
    @if $point == md {
        // 1920px (max desktop size)
        // 760px (standard tablet breakpoint) 
        // 420px (standard phone)
        // 320px (min phone width)
        @media (min-width: 48em) {
            @content;
        }
    }

    // 900px (menu switch)
}

@mixin for-size($range) {
    $phone-upper-boundary: 420px;
    $tablet-portrait-upper-boundary: 760px;
    $tablet-landscape-upper-boundary: 1260px;
    $desktop-upper-boundary: 1920px;
  
    @if $range == phone-only {
      @media (max-width: #{$phone-upper-boundary - 1}) { @content; }
    } @else if $range == tablet-portrait-up {
      @media (min-width: $phone-upper-boundary) { @content; }
    } @else if $range == tablet-landscape-up {
      @media (min-width: $tablet-portrait-upper-boundary) { @content; }
    } @else if $range == desktop-up {
      @media (min-width: $tablet-landscape-upper-boundary) { @content; }
    } @else if $range == big-desktop-up {
      @media (min-width: $desktop-upper-boundary) { @content; }
    }
}
  
// usage
// .my-box {
//     padding: 10px;
    
//     @include for-size(desktop-up) {
//       padding: 20px;
//     }
// }
