

//sans-serif
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
//serif
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Ubuntu:wght@300;400;500;700&display=swap');



$headerFont: 'Ubuntu', sans-serif;
$bodyFont: 'Lora', serif;


$maxParagraphWidth: 60rem;

p {
    font-family: $bodyFont;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $headerFont;
}


// 1em default is usually around 16px, em is relative to parent. rem is root em, based on font size of html element