
//spacing
$spacing-med: 16px;
$spacing-large: 24px;

//border
$borderRadius: 12px;
$borderRadiusSmall: 6px;

// if using em for spacing, it is based on font size of that element not parent. Rem is still based on root.
