

//old colors
$mainBlockColor: #345abc;
$dark: rgb(29,29,29);
$light: #fff;
$primary: rgb(165, 165, 244);
$background: rgb(244, 244, 255);


// potential light template
$ivoryWhite: #f5f5f5;
$morningTeal: #CAE4DB;
$mistGray: #7A9D96;
$honeyGold: #eec230;
$ceruleanBlue: #00303F;
$ceruleanBlueFade: rgb(0, 48, 63, 0.85);
$slateBlack: #262626;

// shadows
$headerShadow: rgba(0, 0, 0, 0.3) 2px 5px 7px, rgba(0, 0, 0, 0.2) 0px 8px 10px 0px;
$bodyTextShadow: rgba(29, 29, 29, 0.3) 2px 5px 7px, rgba(29, 29, 29, 0.1) 0px 8px 10px 0px;
$hoverShadow: rgba(29, 29, 29, 0.4) 2px 5px 7px, rgba(64, 64, 64, 0.3) 0px 8px 15px -3px;